@model QuemPagaQuanto.Models.Despesa

@{
    ViewData["Title"] = "Apagar Despesa";
}
<div class="row justify-content-center">
    <div class="col-md-4 custom--form">
        <h1 class="custom--form-header">Apagar</h1>
        <h4 class="custom--form-sub">Tem certeza que deseja apagar essa despesa?</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Data)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Vencimento)
            </dt>
            <dd class="col-sm-8">
                @(Model.Vencimento != null ? Html.DisplayFor(model => model.Vencimento) : "-")
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-8">
                @(Model.Descricao != null ? Html.DisplayFor(model => model.Descricao) : "-")
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Apagar Despesa" class="btn btn-danger" />
        </form>
    </div>

    <div class="col-md-12 text-center mt-4 custom--back-link">
        <a asp-action="Index" asp-route-grupoId="@Model.GrupoId">Voltar para listagem</a>
    </div>
</div>
