@model QuemPagaQuanto.Models.Morador

@{
    ViewData["Title"] = "Apagar Morador";
}

<div class="row justify-content-center">
    <div class="col-md-4 custom--form">
        <h1 class="custom--form-header">Apagar</h1>
        <h4 class="custom--form-sub">Tem certeza que deseja apagar esse morador?</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Grupo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grupo.Nome)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Apagar Morador" class="btn btn-danger" />
        </form>
    </div>

    <div class="col-md-12 text-center mt-4 custom--back-link">
        <a asp-action="Index" asp-route-grupoId="@Model.GrupoId">Voltar para listagem</a>
    </div>
</div>

