@model QuemPagaQuanto.Models.Morador

@{
    ViewData["Title"] = "Detalhes do Morador";
}

<div class="row justify-content-center">
    <div class="col-md-4 custom--form">
        <h1 class="custom--form-header">Detalhes</h1>
        <h4 class="custom--form-sub">Informações do morador</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Grupo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Grupo.Nome)
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar Morador</a>
        </div>
    </div>
</div>

<div class="col-md-12 text-center mt-4 custom--back-link">
    <a asp-action="Index" asp-route-grupoId="@Model.GrupoId">Voltar para listagem</a>
</div>