@model IEnumerable<QuemPagaQuanto.Models.Morador>

@{
    ViewData["Title"] = "Moradores";
}

<div class="custom--table-header">
    <h1><span class="h1--name">@ViewBag.Grupo.Nome</span> Moradores</h1>
    <div >
        <a asp-controller="Grupos" asp-action="Index" class="btn btn-primary btn-sm">Ir para Grupos</a>
        <a asp-controller="Despesas" asp-route-grupoId="@ViewBag.GrupoId" asp-action="Index" class="btn btn-primary btn-sm">Ir para Despesas</a>
        <a asp-action="Create" asp-route-grupoId="@ViewBag.GrupoId" class="btn btn-success btn-sm">Adicionar Morador</a>
    </div>
</div>

<div class="custom--form">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupo)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grupo.Nome)
                </td>

                <td>
                    <div class="custom--table-actions">
                        <div class="dropdown dropstart">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ações
                            </button>

                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-controller="Rendas" asp-action="Index" asp-route-moradorId="@item.Id" class="dropdown-item">Rendas</a>
                                </li>
                                <li>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Detalhes</a>
                                </li>
                                <li>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Editar</a>
                                </li>
                                <li>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Apagar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>