@model QuemPagaQuanto.Models.Renda

@{
    ViewData["Title"] = "Detalhes da Renda";
}

<div class="row justify-content-center">
    <div class="col-md-4 custom--form">
        <h1 class="custom--form-header">Detalhes</h1>
        <h4 class="custom--form-sub">Informações da renda</h4>
        <hr />

        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Valor)
            </dt>
            <dd class="col-sm-8">
                R$ @Html.DisplayFor(model => model.Valor)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.RendaFixa)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.RendaFixa)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Descricao)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Data)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Data)
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Editar Renda</a>
        </div>
    </div>
</div>

<div class="col-md-12 text-center mt-4 custom--back-link">
    <a asp-action="Index">Voltar para listagem</a>
</div>