@model IEnumerable<QuemPagaQuanto.Models.Grupo>

@{
    ViewData["Title"] = "Grupos";
}

<div class="custom--table-header">
    <h1>Grupos</h1>
    <a asp-action="Create" class="btn btn-success">Adicionar Grupos</a>
</div>

<div class="custom--form">
    <table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Usuario)
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Despesas" asp-route-grupoId="@item.Id" asp-action="Index" asp-route-id="@item.Id">@item.Nome</a>
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.Nome)
                </td>

                <td>
                    <div class="custom--table-actions">
                        <a asp-action="Relatorio" asp-route-id="@item.Id" class="btn btn-success btn-sm">Relatórios</a>

                        <div class="dropdown dropstart">
                            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Ações
                            </button>

                            <ul class="dropdown-menu">
                                <li>
                                    <a asp-controller="Despesas" asp-action="Index" asp-route-grupoId="@item.Id" class="dropdown-item">Despesas</a>
                                </li>
                                <li>
                                    <a asp-controller="Moradores" asp-action="Index" asp-route-grupoId="@item.Id" class="dropdown-item">Moradores</a>
                                </li>
                                <li>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="dropdown-item">Detalhes</a>
                                </li>
                                <li>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="dropdown-item">Editar</a>
                                </li>
                                <li>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="dropdown-item">Apagar</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>

</div>