@model QuemPagaQuanto.Models.Relatorio

@{
    ViewData["Title"] = "Relatório";
}

<div class="custom--table-header">
    <div>
        <h1 class="custom--heading">@ViewBag.Nome</h1>

        <div class="dropdown dropend">
            <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ações Rápidas
            </button>

            <ul class="dropdown-menu">
                <li>
                    <a asp-controller="Despesas" asp-route-grupoId="@ViewBag.GrupoId" asp-action="Index" class="dropdown-item">Ir para Despesas</a>
                </li>
                <li>
                    <a asp-controller="Moradores" asp-route-grupoId="@ViewBag.GrupoId" asp-action="Index" class="dropdown-item">Ir para Moradores</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="custom--table-header-buttons">
        <h3>Despesa Total: <span class="custom--bedge-red">R$ @ViewBag.Total.ToString("F2")</span></h3>
    </div>

</div>

<div class="custom--form">
    <div class="flex-column justify-content-start ml-3">
        <form asp-action="Relatorio" method="get" class="form-row d-flex flex-wrap flex-column flex-lg-row">
            <div class="mb-3 me-lg-2  flex-grow-1 flex-lg-grow-0">
                <select name="mes" id="mes" value class="form-control shadow-sm">
                    <option value="">Selecione o mês</option>

                    @for (int i = 1; i <= 12; i++)
                    {
                        @if (ViewBag.Mes == i)
                        {
                            <option value="@i" selected>@i</option>
                        }
                        else
                        {
                            <option value="@i">@i</option>
                        }
                    }
                </select>
            </div>

            <div class="mb-3 me-lg-2 flex-grow-1 flex-lg-grow-0">
                <input type="number" name="ano" class="form-control shadow-sm" value="@ViewBag.Ano" placeholder="Digite o ano"/>
            </div>

            <div>
                <button type="submit" class="btn btn-success">Pesquisar</button>
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>
                Data
            </th>
            <th>
                Vencimento
            </th>
            <th>
                Valor
            </th>
            <th>
                Descrição
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Despesas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @(item.Vencimento != null ? Html.DisplayFor(modelItem => item.Vencimento) : "-")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @(item.Descricao != null ? @Html.DisplayFor(modelItem => item.Descricao) : "-")
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


<div class="row">
    <div class="col-12 col-lg-6 mt-5">
        <h2 class="pb-3 custom--heading">Contribuição Proporcional</h2>
        <div class="custom--form">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        Nome
                    </th>
                    <th>
                        Renda
                    </th>
                    <th>
                        Contribuição
                    </th>
                </tr>
                </thead>

                <tbody>
                @foreach (var item in Model.Calculo.ProporcionalMoradores)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            R$ @item.Renda.ToString("F2")
                        </td>

                        <td>
                            R$ @item.Valor.ToString("F2")
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            @if (Model.Calculo.NegativoProporcional > 0)
            {
                <span><b>Valor negativo do mês:</b> <span class="custom--bedge-red">R$ @Model.Calculo.NegativoProporcional.ToString("F2")</span></span>
            }
        </div>
    </div>

    <div class="col-12 col-lg-6 mt-5">
        <canvas class="pt-5" id="myChart"></canvas>
    </div>

    <div class="col-12 mt-5">
        <h2 class="pb-2 custom--heading">Divisão Per Capta</h2>
        <p>A divisão per capta é refente a divisão do total dos gastos pela quantidade de pessoas.</p>

        <div class="per-capta-items">
            <div class="block-per-capta">
                <div class="per-capta">@Model.Calculo.NumeroMoradores Moradores</div>
            </div>

            <div class="block-per-capta">
                <div class="per-capta">R$ @Model.Calculo.CalculoPerCapta.ToString("F2") por morador</div>
            </div>
        </div>
    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    const moradores = [];
    const salarios = [];

    @foreach (var morador in Model.Calculo.ProporcionalMoradores)
    {
        @:moradores.push("@morador.Nome");
        @:salarios.push(parseFloat("@morador.Valor.ToString().Replace(",", ".")"));
    }

        console.log(salarios)

    new Chart(ctx, {
      type: 'bar',
      data: {
        labels: moradores,
        datasets: [{
          label: 'Valores',
          data: salarios,
          borderWidth: 1
        }]
      },
      options: {
        plugins: {
            title: {
                display: true,
                text: 'Gráfico de Contribuição Proporcional',
       
            }
        },
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
</script>